<%- include('header'); -%>

  <form action="/pay" method="post">
    <input type="text" class="form-control"id="Shoes" name="Shoes" value=" Shoes">
    <input type="number" class="form-control"id="Buy" name="Buy" value="25">
    <input type="submit" value="Buy">
  </form>

<%- include ('footer'); -%>